/** General **/
body, button {
    margin: 0;		
    padding: 0;
    color: var(--color-text-base);
    font: 400 16px/1.25 Poppins, Helvetica, Arial, sans-serif;
}

/** Color token **/
:root { 		
    --color-text-base: #113;
    --color-text-grey: #999;
    --color-text-bright: #FFF;
    --color-purple-500: #53F;
    --color-purple-700: #319;
    --color-lime-500: #EF0;
    --color-lime-700: #BC0;
}

/** Typography **/
h1 {
    font-size: 3rem;
    line-height:3.5rem;
    font-weight: 700;
    letter-spacing: -1px;
}

h2 {
    font-size: 3rem;
    line-height: 3.75rem;
    font-weight: 700;
    letter-spacing: -1px;
}

h3 {
    font-size: 1.625rem;
    line-height: 1.875rem;
    font-weight: 700;
}

h4 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 700;
}

p {
    font-size: 1.125rem;
}

p .small, a .small {
    font-size: 0.875rem;
}

a {
    color: var(--color-text-bright);
    text-decoration: underline;
}

a:hover {
    color: var(--color-text-bright);
    opacity: 0.9;
    text-decoration: underline;
}

.highlight {
    color: var(--color-lime-500);
}

.text-uppercase {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1rem;
}

.footnote {
    font-size: 0.75rem;
}

/** Background **/
.background-calm-sea {
    background-image: url("../images/bg-calm_sea.svg");
    background-size: cover;
    background-position: center center;
}

.background-deep-sea {
    background: rgb(54,20,158);
    background: linear-gradient(90deg, rgba(54,20,158,1) 0%, rgba(85,51,255,1) 100%);
}

.background-grey {
    background-color: #EEF;
}

.background-dark {
    background-color: var(--color-text-base);
}

/** Button **/
.btn {
    color: var(--color-text-base);
    background-color: var(--color-lime-500);
    border-radius: 100px;
    border: 0;
    padding: 0.625rem 1.25rem;
    text-decoration: none;
}

.btn:hover {
    color: var(--color-text-base);
    background-color: var(--color-lime-700);
}

/** Spacing **/
.my-80 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.py-80 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.pt-40 {
    padding-top: 2.5rem;
}

/** Rows **/
#hero {
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

#why-choose-us {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

#benefits {
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

#sign-up {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

.sign-up-seafarer {
    margin-top: -50px;
}

/** Navigation **/
.nav-link {
    color: var(--color-text-bright) !important;
    text-decoration: none;
}

/** Card component **/
.card {
    border: 0;
}

.card > img {
    padding: 0.75rem 0.75rem 0 0.75rem; 
}

/** Footer component **/
footer {
    color: var(--color-text-bright);
}

footer a, footer a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 1024px) {
    .sign-up-seafarer {
        margin-top: 0;
    }
}