/** General **/
* {
		box-sizing: border-box; 
}

:root { 		
	--color-text-base: #113;
	--color-text-bright: #FFF;
	--color-purple-500: #53F;
	--color-purple-700: #319;
	--color-lime-500: #EF0;
	--color-lime-700: #BC0;
}

body {
	margin: 0;		
	padding: 0;
	color: var(--color-text-base);
	font: 300 16px/1.25 Poppins, Helvetica, Arial, sans-serif;
	background-image: url("/assets/bg-arctic-side.svg");}
body#index {
	background-image: url("/assets/bg-calm_sea-side.svg");		
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--color-text-bright);
	font-weight: 400;}

h1 {
	font-size: 4em;			
	margin: 1em 0 .25em;}
@media screen and (max-width: 600px) {
	h1 {
		font-size: 3em;}
}

h1 > em {	
	color: var(--color-lime-500);
	font-style: normal;}

a {
	color: var(--color-purple-500);
	text-decoration: none;}
a:hover {
	color: var(--color-purple-700);}
a.button {
	display: inline-block;
	padding: .5rem 1rem;
	border-radius: .25rem;
	background-color: var(--color-purple-500);
	color: var(--color-text-bright);}
a.button:hover {
	background-color: var(--color-purple-700);}
body#index a {
	color: var(--color-lime-500);}
body#index a:hover {
	color: var(--color-lime-700);}
body#index a.button {
   background-color: var(--color-lime-500);
   color: var(--color-text-base);}
body#index a.button:hover {
   background-color: var(--color-lime-700);}

		
hr {
	margin: 5rem auto 2rem;
}

/** Container **/
.wrapper {		
		width: 90%;
		max-width: 40rem;
		margin: 3rem auto 5rem;
}

.flex-container {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		height: 100vh;
}

.flex-container > div {
		width: 70%;
		margin: 1.5em;
}

@media screen and (max-width: 600px) {
		.flex-container > div {
				width: 100%;
		}
}