/** General **/
* {
		box-sizing: border-box; 
}

:root { 		
	--color-text-base: #113;
	--color-text-grey: #999;
	--color-text-bright: #FFF;
	--color-purple-500: #53F;
	--color-purple-700: #319;
	--color-lime-500: #EF0;
	--color-lime-700: #BC0;
}

body {
	margin: 0;		
	padding: 0;
	color: var(--color-text-base);
	font: 300 16px/1.25 Poppins, Helvetica, Arial, sans-serif;
	background-image: url("/assets/bg-arctic-side.svg");}
body#index {
	background-image: url("/assets/bg-calm_sea-side.svg");		
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--color-text-bright);
	font-weight: 400;}

h1 {
	font-size: 4em;			
	margin: 1em 0 .25em;}
@media screen and (max-width: 600px) {
	h1 {
		font-size: 3em;}
}

h1#mob {
   text-transform: uppercase;
   text-align: center;
   line-height: 1;
   margin-bottom: 3rem;}
h1 > em {	
	color: var(--color-purple-700);
	font-style: normal;
   display: block;}
body#index h1 > em {	
   color: var(--color-lime-500);}


a {
	color: var(--color-purple-500);
	text-decoration: none;}
a:hover {
	color: var(--color-purple-700);}
a.button {
	display: inline-block;
	padding: .5rem 1rem;
	border-radius: .25rem;
	background-color: var(--color-purple-500);
	color: var(--color-text-bright);}
a.button:hover {
	background-color: var(--color-purple-700);}
body#index a {
	color: var(--color-lime-500);}
body#index a:hover {
	color: var(--color-lime-700);}
body#index a.button {
   background-color: var(--color-lime-500);
   color: var(--color-text-base);}
body#index a.button:hover {
   background-color: var(--color-lime-700);}

		
hr {
	margin: 5rem auto 2rem;
}

/** Container **/
main {		
		width: 90%;
		max-width: 40rem;
		margin: 3rem auto 5rem;
}

.flex-container {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		height: 100vh;
}

.flex-container > div {
		width: 70%;
		margin: 1.5em;
}

@media screen and (max-width: 600px) {
		.flex-container > div {
				width: 100%;
		}
}

footer {
	color: var(--color-text-grey);
	text-align: center;
	font-size: .875rem;}
footer hr {
	border-top: 1px solid #eee;}

/** Accordion **/
.accordion  {
	margin-top: 10px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	margin-bottom: 2em;
}

.accordion-title {
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 1em 1.5em 1em 1em;
	font-weight: 400;
	cursor: pointer;
	position: relative;
	margin: 0;
}

.accordion-title:hover  {
	background-color: #f3f2f7;
	transition: 0.3s;
}

.accordion-title.is-open {
	background-color: #f3f2f7;
}

.accordion-title::after{
	content: "";
	position: absolute;
	right: 25px;
	top: 50%;
	transition: all 0.3s ease-in-out;
	display: block;
	width: 6px;
	height: 6px;
	border-top: solid 2px #99b;
	border-right: solid 2px #99b;
	transform: translateY(-50%) rotate(135deg);
}

.accordion-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height .3s ease-in-out;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.accordion-content p {
	padding: 0 1em 0 1em;
}

.accordion-item.is-open .accordion-content  {
	max-height: 100em;
}

.accordion-item.is-open .accordion-title::after  {
	transform: translateY(-50%) rotate(315deg);
}
